*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Header================================= */

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 7%;
 
}
header nav ul{
  list-style: none;
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.nav_link{
  text-decoration: none;
  color: #B8BECD;
  font-size: 1.2rem;
}
.nav_link_active{
  text-decoration: none;
  color: #848484;
}

.login{
  color: #FB8F1D;
  border: #FB8F1D 1px solid;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
 }
 .login:hover{
  background-color: #FB8F1D;
  color: #fff;
  transition: all 0.3s ease-in-out;
 }

  .register{
    color: #fff;
    background: #FB8F1D ;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  .register:hover{
    background-color: #fff;
    color: #FB8F1D;
    border: #FB8F1D 1px solid;
    transition: all 0.3s ease-in-out;
  }

header section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 7%;
}

.holiday{
  padding-right:30%;
}
header section img ,.home_page img{
  width: 35%;
  height: auto;
}
header section h1{
  font-size: 4rem;
  font-family: 'Playfair Display';
  margin-bottom: 10vh;
}
header section form{
  margin: 4vh 0;
}

.btn{
  color: #fff;
  background: #FB8F1D ;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 2vh;
}
.btn:hover{
  background-color: #fff;
  color: #FB8F1D;
  border: #FB8F1D 1px solid;
  transition: all 0.3s ease-in-out;
}

.input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}
.input select ,.date{
  width: 40%;
  height: 40px;
  border: 1px solid #B8BECD;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.2rem;
 
}

/* Home=========================== */
.home_page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5%;
}
.home_page div{
  padding: 0 20%;
}

.home_page h2{
  font-size: 2rem;
  font-family: 'Playfair Display';
  margin-bottom: 3vh;
}
.home_page p{
color: #7D7987;
line-height: 30px;
font-family: 'Inter';
}
/* Footer============= */
footer{
  padding: 5vh 5%;
  background-color: 
  #F9F9FB;
}
footer .title{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

footer .title h4{
  font-size: 18px;
  margin-bottom: 3vh;
 
}
footer .title img{
  margin-bottom: 3vh;
}
footer .title p{
  color: 
  #848484;
  font-size: 18px;
  line-height: 30px;
font-family: 'Inter';
}
.title div:nth-of-type(1) p:nth-of-type(2){
  margin-top: 3vh;
}
footer .social_icon{
 display: flex;
justify-content: center;
align-items: center;
gap: 20px;
font-size: 1.5rem;
padding: 2vh 0;
border-top: #7D7987 1px solid;
}
.lab{
  cursor: pointer;
}

